<div class="post-new-back">
  <h2 class="post-new-title">投稿ページ</h2>
  <%= form_for @post do |f| %>
    <h4>：画像</h4>
    <div id="img_field" onClick="$('#post_file').click()" >
      <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
    </div>
    <%= f.file_field :image, class: "image", style: "display:none;", id: "post_file"%>
    <h4>：タイトル</h4>
    <%= f.text_field :title , class:"title-field"%>
    <h4>：内容</h4>
    <%= f.text_area :text, class:"text-field post-new-field" %>
    <%= f.submit "投稿", class:"submit-btn post-new-field"%>
  <% end %>  
  

</div>